.image-move{
  margin-left:350px;
}
.image-profile{
  border-radius: 50%;
  margin-left:660px;
}
.box{
  height:590px;
  border-radius: 30px;
  background-color: #E0E0E0;


}
.user-text{
  font-family: 'Cuprum', sans-serif;
  text-align: center;
}
.button {
  background-color: #333333; /* Green */
  border: none;
  color: black !important;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin-left: 620px;
  border-radius: 20px;
}

.button1 {
  background-color: #333333; /* Green */
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin-left: 30px;
  border-radius: 20px;
}

details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
    margin-left:250px;
    width: 1000px;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}

.detaile_txt{
  font-size: 25px !important;
  font-family: 'Cuprum', sans-serif;
}
.aboutMe-IntoTxt{
  text-align: center !important;
  font-family: 'Cuprum', sans-serif;
  color:#bf895a;
  font-size: 45px !important;
}
.box2{
  height:400px;
  border-radius: 30px;
  background-color: #F8F8F8;
}

.detaile_txt2{
  margin-left:50px;
  font-size: 25px !important;
  font-family: 'Cuprum', sans-serif;
}
